{% extends 'base.html.twig' %}

{% block title %}Abonnement Floral{% endblock %}

{% block body %}
    <!-- Titre principal de la page -->
    <section class="page-section clearfix">
        <div class="container text-center">
            <h1 class="section-heading mb-4">
                <span class="section-heading-lower">Abonnement Floral</span>
            </h1>
        </div>
    </section>

    <section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/assets/img/professionnel.jpg" alt="Espace professionnel fleuri" />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Pour les professionnels</span>
                </h2>
                <p class="mb-3">Que vous soyez un restaurant, une entreprise ou un hôtel, notre service d’abonnement floral sur mesure est conçu pour embellir vos espaces professionnels tout en répondant à vos besoins. Vous pouvez choisir la fréquence de livraison – hebdomadaire, mensuelle ou selon vos événements – et ajuster votre budget en fonction de vos exigences. Nous nous engageons à livrer des compositions élégantes et de qualité, qui sauront apporter une touche de raffinement et de fraîcheur à votre environnement professionnel.</p>
            </div>
        </div>
    </div>
    </section>

    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <div class="intro-text right-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Pour les particuliers</span>
                    </h2>
                    <p class="mb-3">Offrez-vous ou offrez un abonnement floral personnalisé, avec des livraisons régulières de fleurs fraîches, selon la fréquence et le budget de votre choix. 
                    <br><br>
                    Parfait pour égayer votre quotidien ou pour offrir à un proche, comme envoyer des fleurs régulièrement à un grand-parent que vous voyez peu.</p>
                </div>
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/assets/img/particulier.jpg" alt="Bouquet de fleurs chez un particulier" />
            </div>
        </div>
    </section>
{% endblock %}